<div class="col-sm-3">
    <div class="card" style="width: 18rem;">
      <img src={{hero.urlToImage}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{hero.title}}</h5>
        <p class="card-text">{{hero.description}}</p>
        <a href="{{hero.url}}" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
