<header></header>
<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of newsArr">
        <single-card *ngIf="item['urlToImage']!=null" [hero]="item"></single-card>
    </div>
  </div>
</div>



