/* You can add global styles to this file, and also import other style files */
@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css"

.abc{

}

.row{
    display: flex;
    flex-wrap: wrap;
 }

 
.row > div[class*='col-'] {
   display: flex;
   margin:2.5vw;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
